/* Agregar en src/App.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-content {
  animation: fadeIn 1s ease-out;
}


/* Estilo para el sidebar */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #080606;
  color: white;
  padding-top: 30px;
  transition: transform 0.3s ease;
}

.menu.is-active {
  transform: translateX(0);
}

.menu-list {
  padding-left: 20px;
}

.menu-list li {
  margin-bottom: 15px;
}

/* Hacer que el sidebar desaparezca en pantallas pequeñas */
.is-hidden-mobile {
  display: none;
}

@media (min-width: 768px) {
  .is-hidden-mobile {
    display: block;
  }
}
